:root{
  --red1: #d90429;
  --black: #191C24;
  --red: #AB2E3C;
  --yellow: #FFC107;
  --blue: #0D6EFD;
  --green: #198754;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --glass: rgba(255, 255, 255, 0.54);
}

a {
  text-decoration: none;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--black);
}

.glass{
  display: grid;
  height: 97%;
  width: 97%;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.glass::-webkit-scrollbar{
  display: none; 
}


@media screen and (max-width:1200px) {
  .glass{
    grid-template-columns: 5rem auto 3rem;
  }
}

@media screen and (max-width:768px) {
  .glass{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  } 
}

