:root{
  --red1: #d90429;
  --black: #191C24;
  --red: #AB2E3C;
  --yellow: #FFC107;
  --blue: #0D6EFD;
  --green: #198754;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --glass: rgba(255, 255, 255, 0.54);
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(45deg, #837874, #ad7f91, #79c2dd, #99d4c7); */
  background: var(--black);
}

.app-glass{
  display: grid;
  height: 97%;
  width: 97%;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.app-glass::-webkit-scrollbar{
  display: none; 
}


@media screen and (max-width:1200px) {
  .app-glass{
    grid-template-columns: 5rem auto 3rem;
  }
}

@media screen and (max-width:768px) {
  .app-glass{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  } 
}

@keyframes animeBG {
  0% {background-position: 0%}
  100% {background-position: 100%}
}