.game-two {
    display: flex;
    width: 97vw;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}

.game-two-main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}

.game-two-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97vw;
}

.game-two-img {
    width: 300px;
}

.game-two-img-ok {
    width: 300px;
    border-bottom: 0.7rem solid var(--green);
}


.game-two-fight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}


.game-two-moves {
    display: flex;
    width: 100%;
    height: 160px;
    gap: 1.5vh;
    align-items: center;
    justify-content: center;
}


.game-two-computer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--red);
}


.game-two-player {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--green);
}


.selection-box-two {
    background: var(--yellow);
    border-radius: 50%;
    border: 0.15rem solid black;
    height: 120px;
    width: 120px;
    transition: 0.3s;
}

.selection-box-two:hover {
    background: white;
    transform: translateY(5px);
}

.obj {
    height: 100%;
    width: 100%;
}

.img {
    object-fit: contain;
}